<%- include('header') %>

<div class="container">
    <div class="row d-flex justify-content-center mt-5">
        <h1><strong>Vocabulary List</strong></h1>
    </div>

    <div class="row d-flex justify-content-between align-items-center mt-5 pl-3 pr-3">
        <!-- <form class="form-inline">
                <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Add
                    new</button>
            </form> -->
        <form action="/new">
            <button type="submit" class="btn btn-danger">
                Add New
            </button>
        </form>

        <form class="form-inline">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>



    <table class="table table-striped mt-5 mb-5">
        <thead>
            <tr>
                <th>No</th>
                <th>Hiragana/Katakana</th>
                <th>Romaji</th>
                <th>Meaning</th>
                <th>Category</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% let i = 1 %>
            <% items.forEach((item) => { %>
            <tr>
                <td><%= i++ %> </td>
                <td><%= item.japanWord %></td>
                <td><%= item.word %></td>
                <td><%= item.meaning %></td>
                <td><%= item.category.category %> </td>
                <td><button class="btn btn-outline-warning" data-toggle="modal" data-target="#editModal"><a
                            href="/edit/<%= item._id %>">Edit</a></button>
                    <button class="btn btn-outline-danger"><a href="/delete/<%= item._id %>">Delete</a></button>
                </td>
            </tr>
            <% }) %>
        </tbody>
    </table>
</div>



<%- include('footer') %>